<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello from First App</h1>
    <h1>Dynamic data: {{dt}}</h1>
    <h1>Uppercase: {{dt|upper}}</h1>
    <h1>Lowercase: {{dt|lower}}</h1>
    <h1>Truncate Words: {{description|truncatewords:2}}</h1>
    <h1>Truncate Characters: {{description|truncatechars:2}}</h1>
    <h1>Multi-Filter: {{description|upper|truncatewords:2}}</h1>
    <h1>Capital first: {{dt|capfirst}}</h1>
    <h1>User: {{user_data|default:"anonymous"}}</h1>
    <h1>Length: {{dt|length}}</h1>
    <h1>Slice: {{dt|slice:'2:3'}}</h1>
    <h1>Date time: {{date_time}}</h1>
    <h1>Date only: {{date_time|date}}</h1>
    <h1>Day Date Month Year: {{date_time|date:'D d M Y'}}</h1>
    <h1>Time only: {{date_time|time}}</h1>
    <h1>24-hour time format: {{date_time|time:'H:i'}}</h1>
    <h1>Short date format: {{date_time|date:'SHORT_DATE_FORMAT'}}</h1>
    <h1>Float Format</h1>
    <hr>
    <h2>Original Digit: {{amount.0}}</h2>
    <h2>Default float format: {{amount.0|floatformat}}</h2>
    <h2>3 Digit float: {{amount.0|floatformat:3}}</h2>
    <h2>3 Digit float(no trailing zeros): {{amount.0|floatformat:-3}}</h2>
    <h2>Decimal: {{amount.0|floatformat:0}}</h2>
    <hr>
    <h2>Original Digit: {{amount.1}}</h2>
    <h2>Default float format: {{amount.1|floatformat}}</h2>
    <h2>3 Digit float: {{amount.1|floatformat:3}}</h2>
    <h2>3 Digit float(no trailing zeros): {{amount.1|floatformat:-3}}</h2>
    <h2>Decimal: {{amount.1|floatformat:0}}</h2>
    <hr>
    <h2>Original Digit: {{amount.2}}</h2>
    <h2>Default float format: {{amount.2|floatformat}}</h2>
    <h2>3 Digit float: {{amount.2|floatformat:3}}</h2>
    <h2>3 Digit float(no trailing zeros): {{amount.2|floatformat:-3}}</h2>
    <h2>Decimal: {{amount.2|floatformat:0}}</h2>
    <hr>
    <h1>If Tag</h1>
    {% if user_type %}
    <h2>User type is: {{ user_type }}</h2>
    {% endif %}
    <h1>If-Else Tag</h1>
    {% if user_type == "superuser" %}
    <h2>Welcome, Superuser!</h2>
    {% else %}
    <h2>Access restricted to superusers only.</h2>
    {% endif %}
    <h1>If-Elif-Else Tag</h1>
    {% if user_type == "superuser" %}
    <h2>Hello Superuser!</h2>
    {% elif user_type == "staff" %}
    <h2>Hello Staff Member!</h2>
    {% else %}
    <h2>Hello Guest!</h2>
    {% endif %}
    <hr>
</body>
</html>